@use '../../variables/display.scss' as *;
@use '../../variables/fonts.scss' as *;

.pagination {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0 80px 0;
  grid-row: -1/-2;
  @media (min-width: $tablet-width) {
    margin: 1rem 0 100px 0;
    grid-row: -1/-1;
  }
  @media (min-width: $desktop-width) {
    margin: -0.9rem 0 100px 0;
  }
}

.page {
  width: 2.17rem;
  height: 2rem;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  color: var(--text-pagination-color);
  vertical-align: bottom;
  transition:
    border-radius 0.15s,
    background-color 0.15s,
    border-bottom 0.2s,
    color 0.7s;
  @media (min-width: $tablet-width) {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}

.page:not(:last-child) {
  margin-right: 0.3rem;
  @media (min-width: $tablet-width) {
    margin-right: 0.4rem;
  }
  @media (min-width: $desktop-width) {
    margin-right: 0.37rem;
  }
}

.page:hover {
  font-weight: 500;
  box-shadow: 0 1px var(--pagination-text-hover);
}

.active,
.active:hover {
  background-color: var(--pagination-hover);
  border-radius: 4px;
  font-weight: 500;
  box-shadow: none;
}

.prev,
.next {
  width: 0.65rem;
  height: 1rem;
  margin: 0.8em 0.8em;
  display: flex;
  color: var(--text-pagination-color);
  transition: color 0.7s;
  @media (min-width: $tablet-width) {
    width: 0.5rem;
    height: 0.75rem;
    margin: 0.5em 0.5em;
  }
}

.prev {
}

.next {
}

.btn {
  border-radius: 4px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $tablet-width) {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.btn:hover {
  background-color: var(--pagination-hover);
}

.btnPrev {
  margin-right: 1.2rem;
  @media (min-width: $tablet-width) {
    margin-right: 1.3rem;
  }
  @media (min-width: $desktop-width) {
    margin-right: 1.1rem;
  }
}

.btnNext {
  margin-left: 1.2rem;
  @media (min-width: $tablet-width) {
    margin-left: 1.3rem;
  }
  @media (min-width: $desktop-width) {
    margin-left: 1.1rem;
  }
}
