@use '../../variables//colors.scss' as *;
@use '../../variables//display.scss' as *;

.pagination {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
  margin: 1rem 0 80px 0;
  grid-row: -1/-2;
  @media (min-width: $tablet-width) {
    margin: 1rem 0 100px 0;
    grid-row: -1/-1;
  }
  @media (min-width: $desktop-width) {
    margin: -1rem 0 100px 0;
  }
}

.page {
  width: 2.17rem;
  height: 2rem;
  font-size: 1.4rem;
  color: $primary-dark-gray;
  vertical-align: bottom;
  transition:
    border-radius 0.15s,
    background-color 0.15s;
  @media (min-width: $tablet-width) {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }
}

.page:not(:last-child) {
  margin-right: 0.33rem;
}

.active {
  background-color: $primary-light-gray;
  border-radius: 4px;
}

.prev,
.next {
  width: 1rem;
  height: 1rem;
  color: $primary-dark-gray;
}

.prev {
  margin-right: 1.85rem;
  @media (min-width: $tablet-width) {
    margin-right: 1.37rem;
  }
  @media (min-width: $desktop-width) {
    margin-right: 1.28rem;
  }
}

.next {
  margin-left: 1.85rem;
  transform: rotate(180deg);
  transform-origin: center center;
  @media (min-width: $tablet-width) {
    margin-left: 1.37rem;
  }
  @media (min-width: $desktop-width) {
    margin-left: 1.28rem;
  }
}
