@use '../../variables//display.scss' as *;

.card {
  position: relative;
  grid-column: 1/-1;
  @media (min-width: $tablet-width) {
    grid-column: span 4;
  }
  @media (min-width: $laptop-width) {
    grid-column: span 3;
  }
}

.picture {
  width: 100%;
  height: auto;
}
