@use '../../variables/display.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0 1.4rem 0;
  grid-column: 1/-1;
  @media (min-width: $tablet-width) {
    margin: 1.62rem 0 0.14rem 0;
  }
  @media (min-width: $desktop-width) {
    margin: 1.28rem 0 0.14rem 0;
  }
}

.link {
  @media (min-width: $desktop-width) {
    margin-bottom: 0.55rem;
    padding-top: 0.55rem;
  }
}

.logo {
  width: 6.08rem;
  height: 1.6rem;
  color: var(--logo-color);
  transition: color 0.7s;
  @media (min-width: $desktop-width) {
    height: 1.25rem;
    width: 5.67rem;
    margin-left: 0.76rem;
    transform: scale(1.26);
  }
}

.theme {
  width: 1.7rem;
  height: 1.91rem;
  color: var(--text-head-color);
  transition: color 0.7s;
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 24%;
    right: 20%;
    height: 2.1rem;
  }
  @media (min-width: $desktop-width) {
    right: 16%;
  }
}

.button {
  position: relative;
  background-color: var(--theme-back);
  width: 3.33rem;
  height: 3.33rem;
  border-radius: 50%;
  transition: background-color 0.2s;
  @media (min-width: $tablet-width) {
    bottom: 0.36rem;
    left: 0.3rem;
  }
}

.button:hover,
.button:active {
  background-color: var(--theme-hover);
}
