@use '../../../variables//fonts.scss' as *;
@use '../../../variables//colors.scss' as *;
@use '../../../variables//display.scss' as *;

.description {
  position: absolute;
  bottom: 0;
  height: 35%;
  width: 84.29%;
  background-color: white;
  @media (min-width: $tablet-width) {
    width: 85%;
    padding-top: 0.35rem;
  }
  @media (min-width: $desktop-width) {
    width: 76.5%;
    padding-top: 0.7rem;
  }
}

.description::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 42px;
  width: 2px;
  background-color: $accent-red;
}

.text {
  margin: 0.67rem 0 0.67rem 12px;
  transition: all 0.3s;
  position: absolute;
  @media (min-width: $tablet-width) {
    margin: 0.5rem 0 0.67rem 12px;
  }
  @media (min-width: $desktop-width) {
    margin: 0.5rem 0 0.67rem 19px;
  }
}

.header {
  @include heading-font();
  margin: 0;
}

.title {
  @include caption-font(8px);
  color: $accent-red;
  margin: 0.33rem 0 0 0;
  @media (min-width: $tablet-width) {
    @include caption-font(12px);
    margin: 0.4rem 0 0.1rem 0;
  }
  @media (min-width: $desktop-width) {
    margin: 0.4rem 0 1.32rem 0;
  }
}

@keyframes flyBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5.5em);
  }
}

@keyframes flyRight {
  0% {
    transform: translateX(-20em);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flyUp {
  0% {
    transform: translateY(5.5em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes flyLeft {
  0% {
    transform: translateX(-0);
  }
  100% {
    transform: translateX(-20em);
  }
}

.flyBottom {
  animation: flyBottom 0.5s forwards;
}

.flyRight {
  animation: flyRight 0.5s forwards;
}

.flyUp {
  animation: flyUp 0.5s forwards;
}

.flyLeft {
  animation: flyLeft 0.5s forwards;
}
